[scanner]
canbus_uuid:2618188b8790

speed: 40.
lift_speed: 5.
backlash_comp: 0.5
x_offset: 0
y_offset: 15
trigger_distance: 2.
trigger_dive_threshold: 1.5
trigger_hysteresis: 0.006
cal_nozzle_z: 0.1
cal_floor: 0.1
cal_ceil:5.
cal_speed: 1.0
cal_move_speed: 10.
default_model_name: default
mesh_main_direction: x
mesh_cluster_size: 1
mesh_runs: 2
calibration_method: touch 
z_offset: 0
probe_speed: 2.0
# touch_location: 150,150 # set to center of bed
sensor: cartographer
# changes below from standard beta
sensor_alt: carto ## allows use of shorter commands. ie CARTO_TOUCH instead of CARTOGRAPHER_TOUCH



[lis2dw]
cs_pin: scanner:PA3 
spi_bus: spi1

[resonance_tester]
accel_chip: lis2dw
#max_freq: 175
accel_per_hz: 150
hz_per_sec: 0.5
probe_points:
    150, 150, 20  #set your prefered calibrating position
